---
name: Build and Publish Docker Image

on:
  release:
    types: [published]

jobs:
  publish-docker-container:
    name: Build and Publish Docker Container
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Download Specified iVentoy Release
        run: |
          curl -L -o iventoy.tar.gz  https://github.com/ventoy/PXE/releases/download/v${{ github.ref_name }}/iventoy-${{ github.ref_name }}-linux-free.tar.gz
          tar -xvf iventoy.tar.gz
          rm -f iventoy.tar.gz
          mv iventoy*/ iventoy/
          echo ${{ github.ref_name }} >> iventoy/version
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/eerikas/iventoy:latest
            ghcr.io/eerikas/iventoy:${{ github.ref_name }}
